.pagination {
  font-family: $fontCabin;
  @include flexCenter(row);
  margin: 60px 0;

  a {
    @extend %buttonWhite;

    i {
      color: $mainGreen;
    }

    @include mQ(800px) {
      letter-spacing: 2px;
      padding: 18px 20px;
      margin: 0 5px;
    }

    @include mQ(370px) {
      font-size: 0.7rem;
      letter-spacing: 0px;
    }
  }

  a:first-of-type i {
    margin-right: 10px;
  }

  a:last-of-type i {
    margin-left: 10px;
  }
}
