// COLORS
$mainGreen: #101d17;
$lightGray: #e8e8e8;
$mediumGray: #565656;
$facebookBlue: #3b5998;
$twitterBlue: #1da1f2;
$clearWhite: rgba(255, 255, 255, 0.9);
$paperWhite: #f4f4f4;
$selectionBG: #fffcd0;
$selectionColor: #856d32;
$lightOrange: #FFFBEE;
$darkOrange: #C17D2C;
$grayBorder: #DEDEDE;

// FONT FAMILY
$fontCabin: "Cabin", sans-serif;
$fontHandlee: "Handlee", cursive;

// SPRITES
$pixelBorder: "iVBORw0KGgoAAAANSUhEUgAAAvsAAAACCAYAAADGgxO2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cABEQAABAQw+jf8Msjhtk4yBQAAvNNzCgAAeGcBZa0HjCAWnkkAAAAASUVORK5CYII=";
